* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header */
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 140, 255);
    padding: 0px 30px;
    position: sticky;
    top:0;
    height: 100px;
}
.d-flex {
    display:flex
}
.menu-links {
    gap:25px
}
.menu-links > a {
    color:white;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}
.logo {
    width: 200px;
    height: 100%;
}
/*  */
/* Banner */
.banner {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(0, 183, 255);
    height: 470px;
}
.banner > div {
    color:white;
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
}
.banner > div > button {
    width: 130px;
    height: 40px;
    border: solid 2px blue;
    border-radius: 15px;
    font-weight: bold;
}
/*  */
/* Footer */
footer {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 140, 255);
    padding: 0px 30px;
    height: 100px;
    color: white;
}